body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  
  }
  
  .jumbotron {
   margin: 25px;
    padding-top: 90px;
    text-align: center;
    color: black;
    background-color: transparent;
    background-image: url("https://media.giphy.com/media/Y3pPNWkDadFsOoNsme/giphy.gif");
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid grey;;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
 .col{
   padding-top: 20px;
 }

.col-9{
  padding-top: 10px;
}

#day {
  height: auto;
   width: auto;
    font-size: 20px;
    text-align: center;
    
  }